* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro';
    font-style: normal
}

.divHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh
}

.imgHeader1 {
    margin-left: 25px
}

.imgHeader2 {
    padding-left: 120px
}

.ulHeader {
    list-style: none;
    display: none
}

.liHeader {
    margin-right: 35px
}

.buttonHeader {
    background-color: #f3603b;
    box-shadow: 0 4px 8px rgba(242, 97, 59, .5);
    border-radius: 50px;
    border: none;
    color: #fff;
    padding: 15px;
    margin-top: 15px;
    display: none
}

main {
    width: 100%
}

.sectionGrafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 90px
}

.imgSectionGrafico1 {
    margin-left: 10px;
    width: 90%;
    height: 47vh
}

.imgSectionGrafico2 {
    display: none
}

.divSectionGrafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.encabezadoSectionGrafico {
    font-weight: 700;
    font-size: 2.3rem;
    letter-spacing: -.035em;
    color: #232c51;
    margin-bottom: 5px
}

.pSectionGrafico {
    width: 85%;
    font-weight: 500;
    font-size: 1rem;
    color: #8f94a7;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 25px
}

.button1 {
    background-color: #f3603b;
    box-shadow: 0 4px 8px rgba(242, 97, 59, .5);
    border-radius: 50px;
    border: none;
    color: #fff;
    padding: 15px;
    margin-top: 15px
}

.sectionNumeroConFondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.divManage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px
}

.encabezadoDivManage {
    font-weight: 700;
    font-size: 2.3rem;
    letter-spacing: -.035em;
    color: #232c51;
    margin-bottom: 15px
}

.pDivManage {
    width: 85%;
    font-weight: 500;
    font-size: 1rem;
    color: #8f94a7;
    margin-top: 15px;
    margin-left: 35px;
    line-height: 25px;
    text-align: center;
    padding-right: 5px
}

.divSectionNumeroConFondo {
    background-color: #ffefea;
    height: 40px;
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 20px
}

.spanSectionNumeroConFondo {
    width: 18%;
    border-radius: 20px;
    padding: 10px;
    background-color: #f25f3a;
    text-align: center;
    color: #fff
}

.encabezado1SectionNumeroConFondo {
    font-weight: 700;
    font-size: 1, 2rem;
    text-indent: 10px
}

.encabezado2SectionNumeroConFondo {
    font-weight: 700;
    font-size: 1, 2rem;
    text-indent: 10px
}

.encabezado3SectionNumeroConFondo {
    font-weight: 700;
    font-size: 1, 2rem;
    text-indent: 10px
}

.pSectionNumeroConFondo {
    font-weight: 500;
    font-size: 1rem;
    color: #8f94a7;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 20px
}

.sectionTestimonio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    flex-wrap: wrap
}

.encabezado1SectionTestimonio {
    font-weight: 700;
    font-size: 2.3rem;
    letter-spacing: -.035em;
    color: #232c51;
    text-align: center;
    margin-bottom: 125px
}

.divGeneralArticleTestimonio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.articleTestimonio1 {
    display: none
}

.articleTestimonio2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    width: 95%;
    height: 50vh
}

.articleTestimonio3 {
    display: none
}

.imgSectionTestimonio {
    position: relative;
    bottom: 50px;
    height: 15vh
}

.encabezado2SectionTestimonio {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: -.035em;
    color: #232c51;
    padding-bottom: 50px
}

.pSectionTestimonio {
    font-weight: 500;
    font-size: 1rem;
    color: #8f94a7;
    padding-bottom: 70px;
    line-height: 25px;
    margin-left: 25px;
    margin-right: 25px
}

.formSectionTestimonio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px
}

.labelRadio {
    width: 10px;
    height: 10px;
    border: 1px solid #f25f3a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px
}

.checkmark {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: #f25f3a;
    display: none;
    border-radius: 50%
}

.labelRadio input {
    display: none
}

.labelRadio input:checked+.checkmark {
    display: inline-block
}

.button2 {
    background-color: #f3603b;
    box-shadow: 0 4px 8px rgba(242, 97, 59, .5);
    border-radius: 50px;
    border: none;
    color: #fff;
    padding: 15px
}

.sectionPreFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 65vh;
    background-color: #f25f3a
}

.encabezadoSectionPreFooter {
    font-weight: 700;
    font-size: 2.7rem;
    letter-spacing: -.035em;
    color: #f3f3f3;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px
}

.button3 {
    color: #f3603b;
    box-shadow: 0 4px 8px rgba(242, 97, 59, .5);
    border-radius: 50px;
    border: none;
    background-color: #fff;
    padding: 15px
}

footer {
    width: 100%;
    height: 88vh;
    background-color: #1e1e26
}

.logoIconosFooterDesktop {
    display: none
}

.listasFooterDesktop {
    display: none
}

.formCopyrightFooterDesktop {
    display: none
}

.formFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px
}

.email {
    width: 230px;
    height: 40px;
    border-radius: 25px;
    padding-left: 20px
}

.button4 {
    width: 70px;
    height: 40px;
    background-color: #f3603b;
    box-shadow: 0 4px 8px rgba(242, 97, 59, .5);
    border-radius: 50px;
    border: none;
    color: #fff;
    padding: 15px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px
}

.listasSectionFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px
}

.lista1SectionFooter {
    list-style: none;
    color: #f3f3f3
}

.lista2SectionFooter {
    list-style: none;
    color: #f3f3f3
}

.li1SectionFooter {
    margin-bottom: 15px
}

.iconsFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    width: 95%
}

.lista2SectionFooter {
    list-style: none;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-left: 30px
}

.li2SectionFooter {
    margin-right: 45px;
    font-size: 2rem
}

.parteFinalFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.logoFinalFooter {
    padding-top: 50px;
    padding-bottom: 5px
}

.copyrightFooter {
    font-size: .8rem;
    color: #8c8c94;
    margin-top: 100px
}

@media (min-width:1399px) {
    .imgHeader2 {
        display: none
    }

    .labelRadio {
        display: none
    }

    .div2Header {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .imgHeader1 {
        margin-left: 50px
    }

    .ulHeader {
        display: contents;
        margin-left: 150px
    }

    .buttonHeader {
        display: inline;
        margin-bottom: 8px;
        margin-right: 50px
    }

    .sectionGrafico {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 90px;
        width: 95%
    }

    .imgSectionGrafico1 {
        display: none
    }

    .imgSectionGrafico2 {
        display: inline;
        width: 40%;
        height: 40vh;
        padding-right: 150px
    }

    .divSectionGrafico {
        width: 30%;
        text-align: left
    }

    .encabezadoSectionGrafico {
        font-weight: 700;
        font-size: 3rem;
        color: #232c51;
        margin-bottom: 5px;
        margin-left: 15px;
        align-self: flex-start
    }

    .pSectionGrafico {
        width: 80%;
        align-self: flex-start;
        line-height: 25px;
        margin-left: 17px;
        color: #000
    }

    .button1 {
        align-self: flex-start;
        margin-left: 15px
    }

    .sectionNumeroConFondo {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 150px
    }

    .divManage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 70px;
        margin-top: 20px
    }

    .encabezadoDivManage {
        font-size: 3rem;
        text-align: left;
        margin-left: 55px
    }

    .pDivManage {
        width: 60%;
        color: #000;
        margin-left: 60px;
        text-align: left
    }

    .divSectionNumeroConFondo {
        background-color: #fff;
        margin-left: 100px
    }

    .spanSectionNumeroConFondo {
        width: 12%;
        border-radius: 30px;
        padding: 12px;
        background-color: #f25f3a;
        text-align: center;
        color: #fff;
        margin-right: 7px
    }

    .encabezado1SectionNumeroConFondo {
        font-weight: 700;
        font-size: 1, 2rem;
        text-indent: 10px
    }

    .encabezado2SectionNumeroConFondo {
        font-weight: 700;
        font-size: 1, 2rem;
        text-indent: 10px
    }

    .encabezado3SectionNumeroConFondo {
        font-weight: 700;
        font-size: 1, 2rem;
        text-indent: 10px
    }

    .pSectionNumeroConFondo {
        width: 60%;
        margin-left: 200px
    }

    .divGeneralArticleTestimonio {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 95%
    }

    .sectionTestimonio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        margin-top: 10px;
        margin-left: 60px;
        margin-bottom: 80px
    }

    .articleTestimonio1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        background-color: #f9f9f9;
        width: 95%
    }

    .articleTestimonio2 {
        height: 40vh
    }

    .articleTestimonio3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        background-color: #f9f9f9;
        width: 95%
    }

    .button2 {
        margin-top: 30px
    }

    .sectionPreFooter {
        height: 30vh;
        flex-direction: row;
        justify-content: space-around;
        align-items: center
    }

    .encabezadoSectionPreFooter {
        width: 40%;
        text-align: left
    }

    .button3 {
        width: 10%
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 38vh
    }

    .logoIconosFooterDesktop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 100px
    }

    .logoFinalFooter {
        padding-top: 25px
    }

    .lista2SectionFooter {
        padding-top: 55px
    }

    .li2SectionFooter {
        margin-right: 10px;
        font-size: 2rem
    }

    .listasFooterDesktop {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 30px
    }

    .lista2SectionFooter {
        margin-left: 30px
    }

    .formCopyrightFooterDesktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        margin-right: 100px
    }

    .formFooterDesktop {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .formFooter {
        display: none
    }

    .listasSectionFooter {
        display: none
    }

    .parteFinalFooter {
        display: none
    }

    .iconsFooter {
        display: none
    }

    .copyrightFooter {
        margin-left: 2px
    }
}